$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 90%,
  container-position: center,
  columns: 14,
  gutters: .25,
  // column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);
@include border-box-sizing;
body {
  font-family: 'Fauna One', serif;
  color: $color1;
  font-size: 100%;
  @include background(image-url("loading.gif"));
  background-position: 20% center;
  background-repeat: no-repeat;
}
.main0 {
  height: 100vh;
  @include background(image-url("portada4.jpg"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include breakpoint($portatiles){
    background-size: contain;
    
  }
  h1 {
    font-family: 'Bebas kai', serif;
    color: $color5;
    background-color: $color1;
    font-size: 60px;
    display: inline;
    
  }
  h2 {
    color: $color1;
    font-size: 30px;
    font-family: 'Bebas kai', serif;
    @include breakpoint($tabletas){
      margin-bottom: span(1);
    }
    
  }
}
.main1 {
  height: 100vh;
  @include background(image-url("1.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include breakpoint($portatiles){
    background-size: contain;
    background-position: center;
  }
  
  
  h1 {
    padding-left: span(5);
      margin-bottom: span(1);
      text-align: center;
    }
  p{
    background: rgba($color5, 0.7);
    margin-bottom: span(1);
    @include breakpoint($tabletas2){
      background: rgba($color5, 0);
      padding-left: span(5);
      margin-bottom: span(1);
      margin-bottom: span(.5);
    
    }
    
}

p {
  &:last-of-type {
      
      margin-bottom: span(6);
    }
}
  h1 {
    text-align: center;

  }
  @include breakpoint($pantallones){

  }
  
}
.bloque {
  @include span(full);
  
}
.main2, .main3, .main4, .main5 {
  padding-top: span(1);
  padding-bottom: span(1);
  padding-left: span(1);
  padding-right: span(1);
}

h2 {
    color: $color5;
    font-size: 40px;
    font-family: 'Bebas kai', serif;
    margin-bottom: span(1);
    
  }
// GALLERY

#lightgallery li {
  @include gallery(6 of 12);
  margin-bottom: gutters(12);
  @include breakpoint($tabletas2){
 @include gallery(4 of 12);
  }
 
  
  img {
    width: 100%;
    height: auto;
    &:hover{
      @include opacity(.8);
    }

  }
}
footer {
  @include span(full);
  padding-bottom: span(1);
  padding-top: span(1);
  text-align: center;
  font-family: Arial;
  .copyright {
    font-size: 90%;
  }
  a.nikita {
    font-family: 'BebasKai', cursive;
    @include link-colors($color4, $color1, $color2, $color3, $color4);
  }
  a.unbiciclista {
    font-family: 'Pacifico', cursive;
    font-size: 120%;
    @include link-colors(#535956, #045C70, #199E71, #0DDDC2, #cc0);

  }
}
header {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include breakpoint($portatiles){
    background-size: contain;
    
  }
  @include span(full);
  background-color: transparent;
  text-align: center;
  padding-top: span(1);
  padding-bottom: span(1);
 
  @include breakpoint($tabletas2) {
  position: fixed;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
 
  background-color: transparent;
  @include transition-property(background-color);
  @include transition-duration(1s);
  }
  h1 {
    padding-left: 0px;
    color: rgba(79, 15, 42, 100);
    margin-bottom: span(1);
    font-size: 170%;
    color: $color4;
    @include span(full);
    @include breakpoint($tabletas2) {
      color: $color4;
    @include span(4);
    padding-left: span(1);
    margin-bottom: 0px;
  }
  }
  ul {
    margin-top: span(1);
    @include inline-list;
    @include span(full);
    text-align: center;
    @include breakpoint($tabletas2){
      @include span(10 last);
      padding-right: span(1);
      text-align: right;
      li {
        padding-left: 10px;
      }
    }
    
    
  }
  a {
    @include link-colors($color4, shade($color4, 30%), shade($color4, 10%), shade($color4, 60%), shade($color4, 70%));
    font-size: 94%;
    font-family: 'Bebas kai', serif;
    @include breakpoint($tabletas2){
      @include link-colors($color4, shade($color4, 30%), shade($color4, 10%), shade($color4, 60%), shade($color4, 70%));
    }
    
  }

} 
h1, h2, h3 {
  font-family: 'Bebas kai', serif;
}
  header.sticky {
    background-color: rgba(193, 156, 129, 0.6);
    z-index: 9;
  }
.main2, .main3 {
  background-color: rgba(255, 255, 255, 100);
  h2 {
    color: $color4;
  }
}
.main3 {
  background-color: rgba(255, 255, 255, 100);
}
.main4 {
  height: 100vh;
  @include background(image-url("23.jpg"));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include breakpoint($tabletas2){
    background-size: contain;
    background-position: center;
  }
}
.main5 {
  h2 {
    color: $color4;
    @include span(full);
    span{
      color: $color3;
    }
  }
  .alta {
    @include span(full);
    @include breakpoint($tabletas2){
    @include span(7 of 14);
    text-align: center;
    }
 }
  .baja {
    @include span(full);
    @include breakpoint($tabletas2){
    @include span(7 of 14 last);
    text-align: center;
  }
  }
a.low{
  @include replace-text-with-dimensions('baja.png');
  display:block;
  @include span(full);
}
a.high{
  @include replace-text-with-dimensions('alta.png');
  display:block;
  @include span(full);
}
}