$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 90%,
  container-position: center,
  columns: 14,
  gutters: .25,
  // column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);
@include border-box-sizing;
body {
  font-family: 'Fauna One', serif;
}
.main0 {
  height: 100vh;
  @include background(image-url("portada1.jpg"));
  background-size: cover;
}

.bloque {
  @include span(full);
  padding-top: span(2);
  padding-bottom: span(2);
  padding-left: span(1);
  padding-right: span(1);
  background-color: $color-blanco;
}
// GALLERY

#lightgallery li {
  @include gallery(4 of 12);
  margin-bottom: gutters(12);
  img {
    width: 100%;
    height: auto;
  }
}
#footer {
  background: #cccccc;
}
header {
  position: fixed;
  line-height: 40px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  @include span(full);
  color: blue;
  background-color: transparent;
  @include transition-property(background-color);
  @include transition-duration(1s);
  h1 {
    padding-left: span(1);
    font-family: 'Bebas kai', serif;
    font-size: 30px;
    color: $color-blanco;
  }
  ul {
    @include horizontal-list;
    padding-right: span(1);
  }
  a {
    color: $color-blanco;
  }

} 
  
  header.sticky {
    background-color: $color-purpura;
    color: $color-blanco;
  }
