$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 90%,
  container-position: center,
  columns: 14,
  gutters: .25,
  // column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);
@include border-box-sizing;
body {
  font-family: 'Fauna One', serif;
  color: $color1;
}
.main0 {
  height: 100vh;
  @include background(image-url("portada4.jpg"));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  @include breakpoint($portatiles){
    background-size: cover;
  }
  h1 {
    font-family: 'Bebas kai', serif;
    color: $color5;
    background-color: $color1;
    font-size: 60px;
    display: inline;
    
  }
  h2 {
    color: $color1;
    font-size: 30px;
    font-family: 'Bebas kai', serif;
    @include breakpoint($tabletas){
      margin-bottom: span(1);
    }
    
  }
}
.main1 {
  height: 100vh;
  @include background(image-url("2sintexto.jpg"));
  background-size: cover;
  h1 {
    padding-left: span(5);
      margin-bottom: span(1);
      text-align: center;
    }
  p{
    background: rgba($color5, 0.7);
    margin-bottom: span(1);
    @include breakpoint($tabletas2){
      background: rgba($color5, 0);
      padding-left: span(5);
      margin-bottom: span(1);
      margin-bottom: span(.5);
    
    }
    
}

p {
  &:last-of-type {
      
      margin-bottom: span(6);
    }
}
  h1 {
    text-align: center;

  }
  @include breakpoint($pantallones){

  }
  
}
.bloque {
  @include span(full);
  
}
.main1, .main2, .main3, .main4 {
  padding-top: span(2);
  padding-bottom: span(2);
  padding-left: span(1);
  padding-right: span(1);
}

h2 {
    color: $color1;
    font-size: 40px;
    font-family: 'Bebas kai', serif;
    margin-bottom: span(1);
    
  }
// GALLERY

#lightgallery li {
  @include gallery(4 of 12);
  margin-bottom: gutters(12);
  img {
    width: 100%;
    height: auto;
  }
}
#footer {
  background: #cccccc;
}
header {
  @include span(full);
  background-color: $color5;
  text-align: center;
  padding-top: span(1);
  padding-bottom: span(1);
 
  @include breakpoint($tabletas) {
    position: fixed;
    line-height: 40px;
    line-height: 60px;
    padding-top: 0px;
  padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
     @include transition-property(background-color);
  @include transition-duration(1s);
  }
  h1 {
    padding-left: 0px;
    color: $color1;
    margin-bottom: span(1);
    font-size: 30px;
    @include breakpoint($tabletas) {
    padding-left: span(1);
    margin-bottom: 0px;
  }
  }
  ul {
    margin-top: span(1);
    @include inline-list;
    @include pie-clearfix;
    @include breakpoint($tabletas){
      padding-right: span(1);
    }
    
    
  }
  a {
    color: rgba(16, 25, 18, 90);
  }

} 
h1, h2, h3 {
  font-family: 'Bebas kai', serif;
}
  header.sticky {
    background-color: $color5;
    color: $color1;
  }
.main2 {
  background-color: rgba(226, 203, 195, 100);
}
.main3 {
  background-color: rgba(201, 169, 139, 100);
}
.main4 {
  background-color: $color4;
}