// MODULE ENCUESTAS

.smcx-embed, .smcx-embed>.smcx-iframe-container {
	width: 100% !important;
}
.survey-page {
	max-width: 100% !important;
}


// FUENTES
iframe .survey-page, body#patas {
    font-family: 'Fauna One', serif !important;
}
// COLORES
.survey-page .page-title-container {
    background-color: $color-purpura !important;
}
.survey-body {
    background-color: $color-purpura !important;
}
.modern-browser .checked .radio-button-display, .modern-browser .checked span.checkbox-button-display {
    background: $color-purpura !important;
    border-color: $color-purpura !important;
}
.survey-page .survey-page-button.next-button, .survey-page .survey-page-button.done-button {
    background-color: $color-purpura !important;
    color: $color-blanco !important;
}
// OCULTAR ELEMENTOS DE SURVEY MONKEY
.smcx-embed>.smcx-embed-footer, article.survey-page header.survey-page-header {
	display: none !important;
}
.smcx-embed {
	border: 0px;
}
.lg-outer .lg-thumb-item {
	border: 0px;
	border-radius: 0px;
}