$color-blanco: #fff;
$color-morado: #ed08b2;
$color-purpura: #9a41c6;
$color-rosa: #ffb4df;
$color-negro: #000;

/* Coolors Exported Palette - coolors.co/101912-4f0f2b-c9a98b-e2cbc3-fff6db */

$color1: #101912; //rgba(16, 25, 18, 100)
$color2: #4f0f2b; //rgba(79, 15, 43, 100)
$color3: #c9a98b; //rgba(201, 169, 139, 100)
$color4: #e2cbc3; //rgba(226, 203, 195, 100)
$color5: #fff6db; //rgba(255, 246, 219, 100)

// RESOLUCIONES
$tabletas: 450px;
$tabletas2: 560px;
$portatiles: 900px;
$pantallones: 1200px;


// TAMAÑOS

$fuente-peque: 14px;
$fuente-grande: 16px;
$fuente-x-grande: 18px;